<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cryptonite - Chat éphémère</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#312934">
    <meta name="csrfToken" content="{{csrf}}">
    <link rel="stylesheet" href="/style.min.css">
</head>

<body class="darkmode">
<article class="container">
<div class="row">
  <div class="jumbotron">
    <img src="/logo.png" class="logo-splash" />
    <h1>Bienvenue sur Cryptonite</h1>
    <p>Cryptonite est une application de Chat avec chiffrement de bout en bout.</p>
    <p>
      Veuillez saisir le mot de passe d'accès pour continuer
    </p>
    <div class="form-group">
      <input type="password" name="password" id="password" />
      <a href="javascript:void(0)" id="submit-password"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
      <div class="log-error"></div>
    </div>
  </div>
</div>
</article>
<script>
var button = document.getElementById("submit-password");
var input = document.getElementById("password");
function submitLogin(event) {
  if ((event.type === "keypress" && (event.keyCode === 13 || event.which === 13)) || event.type === "click") {
    var password = input.value;
    var csrfToken = document.querySelector("meta[name='csrfToken']").getAttribute("content");
    var request = new XMLHttpRequest();
    request.open('POST', '/login', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status === 200 && this.readyState === 4) {
        var resp = JSON.parse(this.responseText);
        if (resp.error === 0) {
          window.location.reload();
        } else {
          document.querySelector('.log-error').innerHTML = resp.message;
        }
      } else {
        document.querySelector('.log-error').innerHTML = "Connexion impossible au serveur.. Veuillez réessayer plus tard.";
      }
    };
    request.send("password="+password+"&_csrf="+csrfToken);
  }
}
button.addEventListener("click", submitLogin);
input.addEventListener("keypress",submitLogin);
</script>
</body>

</html>
